---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "At present",
    title: "Specialized DC Analyst",
    company: "Red Design Systems",
    description:
      "Develop and update web pages, emails and new functionalities using technologies as HTML, CSS and JavaScript, design mokups using applications as Figma under SCRUM methodology as an Oracle contractor.",
    link: "https://reddesignsystems.com/en/digital-marketing-agency/",
    
  },
  {
    date: "Jul 2019 - Jul 2021",
    title: "Project Assistant",
    company: "ACRIP Nacional - Federación Colombiana de Gestión Humana",
    description:
      "Sales managment for clients at national level, implementing CRM system in order to facilitate the preparation and presentation of commercial reports, technical support in digital salary platforms and improve the use of databases and records by creating an automated management system in Excel.",
      link: "https://acripnacional.org/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
